name: Test

on:
  push:
    branches: [ main ]
    paths:
      - 'debugwand/**'
      - 'tests/**'
      - 'pyproject.toml'
      - '.github/workflows/test.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'debugwand/**'
      - 'tests/**'
      - 'pyproject.toml'
      - '.github/workflows/test.yml'

jobs:
  test:
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu/gcc
            architecture: x86_64
            runner: ubuntu-24.04
          - target: aarch64-unknown-linux-gnu/gcc
            architecture: aarch64
            runner: ubuntu-24.04-arm
          - target: x86_64-pc-windows-msvc/msvc
            architecture: x64
            runner: windows-2022
          - target: aarch64-pc-windows-msvc/msvc
            architecture: ARM64
            runner: windows-11-arm
          - target: x86_64-apple-darwin/clang
            architecture: x86_64
            runner: macos-15-intel
          - target: aarch64-apple-darwin/clang
            architecture: aarch64
            runner: macos-14
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
            python-version: "3.14"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
            enable-cache: true
      - name: Install dependencies
        run: uv sync
      - name: Run tests
        run: uv run pytest -v